/*barter_details*/
body {
    background-color: white;
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

nav {
    flex: 1; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
}

nav ul li {
    margin-right: 20px; 
}

nav ul li a {
    color: #2206c0;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

/* Logo styles */
.logo {
    width: 200px;
    margin-top: 10px;
}

main {
    padding: 20px;
}

.barter-details {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.barter-details .barter-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}

.barter-details .barter-item h3 {
    margin-top: 0;
}

.barter-details .barter-item form {
    margin-top: 10px;
}

