/* requests styles */
body {
    background-color: white;
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

nav {
    flex: 1; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
}

nav ul li {
    margin-right: 20px; 
}

nav ul li a {
    color: #2206c0;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

/* Logo styles */
.logo {
    width: 200px;
    margin-top: 10px;
}

/* Main content styles */
main {
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.barter-sections {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

section {
    flex: 1;
    margin-bottom: 50px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.3);

.barter-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.barter-item {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.barter-item h3 {
    margin-top: 0;
}

