/* sing in styles */
body {
    background-color: white;
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}

nav {
    flex: 1; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
}

nav ul li {
    margin-right: 20px; 
}

nav ul li a {
    color: #2206c0;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

/* Logo styles */
.logo {
    width: 200px; /* Adjust size as needed */
    margin-top: 30px;
}
.signin-container {
    max-width: 400px;
    margin: 70px auto 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.3);
}

.signin-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.signin-container form {
    display: flex;
    flex-direction: column;
}

.signin-container label {
    margin-bottom: 10px;
    color: #333;
}

.signin-container input[type="text"],
.signin-container input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.signin-container input[type="submit"] {
    background-color: #2206c0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.signin-container input[type="submit"]:hover {
    background-color: #2206c0;
}

.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}

footer {
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-size: 14px; 
    font-weight: bold;
    color: #070707; 
    bottom: 0;
    left: 0;
}
