/* barter styles */
body {
    background-color: white;
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

nav {
    flex: 1; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
}

nav ul li {
    margin-right: 20px; 
}

nav ul li a {
    color: #2206c0;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

/* Logo styles */
.logo {
    width: 200px;
    margin-top: 10px;
}

main {
    padding: 20px;
}

.filter {
    margin-bottom: 20px;
}

.filter form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.filter label, .filter select {
    margin-right: 10px;
}

.filter button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}


.barter-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.barter-item {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
}

.barter-item h2 {
    margin-top: 0;
}

.barter-item p {
    margin-bottom: 10px;
}

.barter-item strong {
    font-weight: bold;
}

.barter-item a {
    color: #337ab7;
    text-decoration: none;
}

.barter-item a:hover {
    text-decoration: underline;
}

/* Status styles */
.status p {
    font-weight: bold;
    font-size: 18px;
}

.status.requested p {
    color: red; /* Red color for requested status */
}

.status.available p {
    color: green; /* Green color for available status */
}
