/*barter_details*/
body {
    background-color: white;
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

nav {
    flex: 1; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
}

nav ul li {
    margin-right: 20px; 
}

nav ul li a {
    color: #2206c0;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

/* Logo styles */
.logo {
    width: 200px;
    margin-top: 10px;
}


main {
    padding: 20px;
}

.barter-details {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.3);
}

.barter-details h1 {
    color: #004AAD;
    font-size: 28px;
    margin-bottom: 10px;
}

.barter-details p {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.6;
}

.barter-details strong {
    font-weight: bold;
}

.barter-details a {
    color: #007bff;
    text-decoration: none;
}

/* Status text styles */
.status-text {
    font-weight: bold;
    font-size: 18px;
}

.status-text.available {
    color: green;
}

.status-text.requested {
    color: red;
}

.status-text.accepted {
    color: blue;
}
form {
    margin-top: 10px;
}

form button {
    margin-right: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #28a745;
}

form button.accept {
    background-color: #28a745; /* Green background for accept button */
    color: green;
}

form button.remove {
    background-color: #dc3545; /* Red background for remove button */
    color: red;
}
