<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="../static/styles/style1.css">
</head>
<body>
    <header>
        <img src="../static/images/logo.png" alt="SkillBarter Logo" class="logo">
        <nav>
            <ul>
                <li><a href="{{ url_for('main') }}">Home</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li><a href="{{ url_for('barter') }}">Barters</a></li>
                <li><a href="{{ url_for('requests') }}">Requests</a></li>
                <li><a href="{{ url_for('create_barter') }}">Create Barter</a></li>
                <li><a href="{{ url_for('log out') }}">Log out</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="profile-info">
            <div class="container">
                <h1>Welcome, {{ user.username }}</h1>
                <div class="profile-details">
                    <img src="{{ user.profile_picture }}" alt="Profile Picture">
                    <label>Bio:</label>
                    <p>{{ user.bio }}</p>
                    <label>Email:</label>
                    <p>{{ user.email }}</p>
                    <label>Gender:</label>
                    <p>{{ user.gender }}</p>
                    <label>Age:</label>
                    <p>{{ user.age }}</p>
                    <label>Skills I Have:</label>
                    <p>{{ user.skills_i_have | join(', ') }}</p>
                    <label>Skills I Want:</label>
                    <p>{{ user.skills_i_want | join(', ') }}</p>
                </div>
                <a href="{{ url_for('edit_profile') }}" class="edit-btn">Edit Profile</a>
            </div>
        </section>
    </main>
</body>
</html>